@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* overflow: hidden; */
    /* border: 1px solid red; */
}

:root {
    --y-color: #fbbc04;
    --light-yellow: #adaca65e;
    --blue-color: #ffffffe1;
    --iceCold: #a0d2eb;
    --freezePurple: #e5eaf5;
    --sandTan: #e1b382;
    --Sand-Tan-Shadow: #c89666;
    --Night-Blue: #2d545e;
    --Night-Blue-light: #2d545e6b;
    --NightBlue-Shadow: #12343b;
}

body {
    /* background-color: #a9a9a93f; */
    background-color: var(--Night-Blue);
}

section {
    max-width: 75rem;
    margin: 0 auto;
    /* background-color: #00B4CC; */
}

.sections {
    display: flex;
    flex-direction: column;
    /* background-color: #ffffffc5; */
    background-color: var(--iceCold);
    width: 100%;
    margin: 0 auto;
    margin-top: 6rem;
    height: 45rem;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(241, 239, 239, 0.068);
    box-shadow: 0 0 40px rgba(250, 230, 230, 0.192);
}

.home_container {
    margin: 0 3rem;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    /* background-color: #fbbd045e; */
}

/* ============ INPUT STYLE START HERE ============= */

.search_content {
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: space-between;
    padding: 0;
    margin: 1.6rem 3rem;
    gap: .4rem;
}

.search_container {
    /* width: 350px; */
    border: 1px solid var(--Night-Blue);
    border-radius: 25px;
    display: flex;
    /* text-align: center; */
    /* align-items: center; */
    /* justify-content: space-around; */
    padding: 0.3rem 0.6rem;

}

.search_container .material-symbols-outlined {
    padding: 0.1rem;
    color: var(--Night-Blue);
}

.search_container input {
    background-color: transparent;
    outline: none;
    font-size: 16px;
    margin-left: 0.2rem;
    color: var(--Night-Blue);
    border: none;
    border-left: 1px solid rgba(128, 128, 128, 0.13);
    width: 250px;
    padding-left: 0.3rem;

}

.search_container #search_btn {
    font-size: 0.82rem;
    border: none;
    cursor: pointer;
    color: var(--Night-Blue);
    background-color: transparent;
    padding: 0.1rem;
}

/* Get Location Style  */

.getlocation {
    display: flex;
    align-items: center;
    /* align-items: center; */


}

form {
    display: flex;
}



.getlocation a {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: var(--NightBlue-Shadow);
    /* text-decoration: underline; */
}

.getlocation span {
    font-size: 17px;
    color: var(--NightBlue-Shadow);
}



/* ========== Input STYLE ENDS HERE ============ */
.home_content {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.weather_container {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-size: cover;
    max-width: 100%;
    /* Ensure the image doesn't exceed the container width */
    /* height: auto; */
    /* Maintain the aspect ratio */
    /* display: block; */
    /* Remove any default inline styles */
}

.weather_container img {
    width: 75px;
    height: auto;
    object-fit: contain;
}

.weather_container h1 {
    font-size: 4.2rem;
    font-weight: 400;
}

.weather_content {
    font-size: 14px;
}

.location_container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

/* .location_container div {
    display: flex;
    align-items: center;


} */

.name_content {
    display: inline-flex;
    align-items: center;
}

.location_container span {
    font-size: 1.3rem;
    margin-right: 0.4rem;
}

.location_container h1 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
}

.date_description {
    /* background-color: #00B4CC; */
    flex-direction: column;
    padding-left: 1.67rem;
    align-items: start;
    width: 100%;
}

.date_description p {
    font-size: 14px;
}

/* Second Page  */

.second_container {
    padding: 0.1rem 3rem;
    display: flex;
}

.second_container button {
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
}

.second_container button:hover {
    border-bottom: 3px solid black;
}

.second_container .active:hover {
    border-bottom: 3px solid #fbbc04;
}

.second_container .active {
    border-bottom: 3px solid #fbbc04;
}

.container_btn {
    display: inline-flex;
    align-items: flex-start;
}

.container_btn .material-symbols-outlined {
    width: 20px;
    /* Adjust the width as needed */
    margin: 0 0.5rem;
    transform: rotate(90deg);
    display: inline-block;
    color: #4d51576b;
}

/* =========== Weekly Forcast Style ===========  */

.weather-cards {
    /* display: flex; */

}

.days-forecast h2 {
    margin: 20px 0;
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.123);
}

.days-forecast .weather-cards {
    display: flex;
    gap: 20px;


}

.weather-cards .card {
    color: #111111;
    padding: 18px 16px;
    list-style: none;
    width: calc(100% / 5);
    background: rgba(255, 255, 255, 0.356);
    border-radius: 5px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;

}

.weather-cards .card h3 {
    font-size: 1rem;
    font-weight: 400;
}

.weather-cards .card h6 {
    font-weight: 400;
}

.weather-cards .card img {
    max-width: 70px;
    margin: 5px 0 -12px 0;
}

/* === Ends Week Forcast Style === */

/* !==== FILTER STYLE ============= */

.temp_filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: absolute;
}

.temperature .material-symbols-outlined {
    width: 20px;
    /* Adjust the width as needed */
    margin: 0 0.5rem;
    transform: rotate(90deg);
    display: inline-block;
    color: #4d51571f;
}

.temp_filters li {
    font-size: 1rem;
    cursor: pointer;
    list-style: none;
    /* margin-right: 1rem; */
    border-bottom: 3px solid transparent;
}

.temp_filters li:hover {
    border-bottom: 3px solid var(--y-color);
}

.temp_wrap-container {
    margin-top: 45px;
}

/* RESPONSIVE STYLES */

@media only screen and (max-width: 684px) {
    .sections {
        height: auto;
        margin: 0;
        border-radius: 0;
        /* Adjust the height for smaller screens */
    }

    .home_container {
        margin: 1rem;
        /* flex-direction: column; */
        /* Stack items vertically on small screens */
        align-items: center;
        /* Center items on small screens */
        margin-top: .2rem;
        /* Adjust margin for spacing */
    }

    .search_content {
        gap: 1rem;
        align-items: center;
        flex-direction: column;
        margin: 1.2rem;
        /* Stack items vertically on small screens */
        /* margin: 1.6rem 0; */
        /* Adjust margin for spacing */
    }

    .search_container {
        width: 100%;
        /* Make the search container full width on small screens */
        max-width: 350px;
        /* Limit the maximum width on small screens */
    }

    .search_container input {
        width: 100%;
        /* Make the input full width on small screens */
        margin-left: 0;
        /* Remove the left margin */
    }

    .weather_container {
        flex-direction: column;
        /* Stack items vertically on small screens */
        align-items: center;
        gap: 0;
        /* Center items on small screens */
    }

    .weather_container img {
        width: 35px;
        /* Adjust the image size for small screens */
    }

    .weather_container h1 {
        font-size: 2.2rem;
        /* Adjust the font size for small screens */
    }

    .weather_content {
        font-size: .85rem;
    }

    .name_content span,
    #name_ {
        font-size: 1.1rem;
    }

    .date_description p {
        font-size: .6rem;
    }

    .second_container {
        flex-direction: column;
        width: 100%;
        padding: .8rem;

    }

    .temperature {
        display: flex;
        justify-content: center;
        text-align: start;
    }

    .temperature .temp_filters {
        padding: 0;
        display: flex;

    }

    .temp_filters li {
        margin-bottom: 5px;
        font-size: .8rem;

        /* Adjust margin for spacing between list items */
    }


    .temp_wrap-container {
        margin-top: 20px;
        width: 100%;
        /* Adjust margin for spacing */
    }

    .days-forecast .weather-cards {
        flex-direction: column;

        /* Stack cards vertically on small screens */
    }

    .weather-cards .card {
        width: 100%;
        display: flex;
        /* Make cards full width on small screens */
        margin-bottom: 1px;
        /* Adjust margin for spacing between cards */
    }
}

/* Additional mobile styles... */